/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    padding: 2em; 
}

h1 {
    font-size: 2em; 
}

main {
    max-width: 800px;
    margin: 2em auto; 
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #004d40;
}

p {
    line-height: 1.6;
}



@media screen and (max-width: 600px) {
    header {
        padding: 1.5em; 
    }

    h1 {
        font-size: 1.5em; 
    }

    main {
        padding: 1em; 
    }
}


.footer-objetivos,
.footer-sobre-nosotros {
    text-align: center;
    background-color: #004d40;
    color: #fff;
    padding: 1em 0; 
    margin-top: 7em; 
}



.copyright {
    font-size: 0.75em; 
}
